.widgetWrapper {
    position: relative;
    margin-top: 20px;
}

.widgetWrapper .circleOnline {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 30%;
    top: 3%;
}

.firstCircle {
    position: absolute;
    top: 0;
    left: 0;
}

.firstCircle,
.secondCircle,
.thirdCircle {
    height: 400px;
    width: 100%;
}

.secondCircle, .thirdCircle {
    position: absolute;
    top: 22px;
    left: 0;
}

.firstCircle .dxg-value-indicator,
.secondCircle .dxg-value-indicator,
.thirdCircle .dxg-value-indicator,
.secondCircle .dxg-scale,
.thirdCircle .dxg-scale {
    display: none;
}

.infoBlock {
    position: relative;
    top: 150px;
    left: -15px;
    margin: 0 auto;
    width: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: stretch;
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, sans-serif;
}

.infoBlock .infoBlockTime {
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoBlock .infoBlockValue {
    width: 80px;
    background-color: #32CD32;
    font-size: 29px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

