.widgetWrapper {
    position: relative;
}

.firstCircle,
.secondCircle,
.thirdCircle {
    height: 400px;
    width: 100%;
}

.secondCircle, .thirdCircle {
    position: absolute;
    top: 6%;
    left: 0;
}

.firstCircle .dxg-value-indicator,
.secondCircle .dxg-value-indicator,
.thirdCircle .dxg-value-indicator,
.secondCircle .dxg-scale,
.thirdCircle .dxg-scale {
    display: none;
}

.infoBlock {
    position: absolute;
    top: 45%;
    left: 42%;
    width: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: stretch;
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, sans-serif;
}

.infoBlock .infoBlockTime {
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoBlock .infoBlockValue {
    background-color: #32CD32;
    font-size: 29px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

