.containerDraggableColumn {
    margin: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
}

.headerDraggableColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: yellow;
}
.headerDraggableColumn :hover {
    background-color: orange;
}

.titleDraggableColumn {
    /*height: 100%;*/
    padding: 8px;
    transition: background-color ease 0.2s;
    flex-grow: 1;
    user-select: none;
    position: relative;
}

.titleDraggableColumn :focus {
    outline: 2px solid black;
    outline-offset: 2px;
}