.DashBoard {
    z-index: 1;
    position: relative;
    height: 100vh;
}

.container {
    background-color: gray;
    display: inline-flex;
}

.headerDashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerDashboard button {
    height: 40px;
}