.TemperatureInfoWrapper {
    width: 190px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: 'Open Sans', sans-serif;
}

.TemperatureInfoWrapper .ico img {
    width: 24px;
    height: 24px;
}

.TemperatureInfoWrapper .value {
    font-size: 56px;
}

.TemperatureInfoWrapper .valueAdditional {
    height: 48px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TemperatureInfoWrapper .value,
.TemperatureInfoWrapper .valueAdditional,
.TemperatureInfoWrapper .time {
    color: white;
}

.TemperatureInfoWrapper .time {
    margin-bottom: 20px;
}