.container {
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: yellow;
}
.header :hover {
    background-color: orange;
}

.title {
    padding: 8px;
    transition: background-color ease 0.2s;
    flex-grow: 1;
    user-select: none;
    position: relative;
}

.title :focus {
    outline: 2px solid black;
    outline-offset: 2px;
}