.ChangeValue {
    display: flex;
    width: 195px;
    height: 48px;
    background-color: #53555C;
    font-family: 'Open Sans', sans-serif;
}

.ChangeValue button {
    width: 48px;
    background-color: #53555C;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    font-size: 28px;
}

.ChangeValue .value {
    margin-right: 5px;
}

.ChangeValue button:hover {
    background-color: black;
}

.ChangeValue div {
    width: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
}
