.Widget2 {
    width: 300px;
}

.Widget2Widget2title {
    background-color: black;
    color: white;
    height: 20px;
}

.Widget2Main {
    background-color: darkgreen;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    /*align-items: flex-start;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    color: white;
}

.Widget2Condition {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.Widget2Condition div {
    width: 60px;
    cursor: pointer;
}

.Widget2Date {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}